[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "zplug"]
	path = zplug
	url = https://github.com/zplug/zplug
[submodule ".vim/pack/submodules/vim-nix"]
	path = .vim/pack/submodules/start/vim-nix
	url = https://github.com/LnL7/vim-nix.git
[submodule ".vim/pack/submodules/vim-gitgutter"]
	path = .vim/pack/submodules/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/submodules/tabular"]
	path = .vim/pack/submodules/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/pack/submodules/supertab"]
	path = .vim/pack/submodules/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/pack/submodules/vim-startify"]
	path = .vim/pack/submodules/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule ".vim/pack/submodules/start/vim-airline"]
	path = .vim/pack/submodules/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/submodules/start/vim-bundle-mako"]
	path = .vim/pack/submodules/start/vim-bundle-mako
	url = https://github.com/sophacles/vim-bundle-mako.git
[submodule ".vim/pack/submodules/start/vim-autoclose"]
	path = .vim/pack/submodules/start/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule ".vim/pack/submodules/start/vim-flake8"]
	path = .vim/pack/submodules/start/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule ".vim/pack/submodules/start/vim-python-pep8-indent"]
	path = .vim/pack/submodules/start/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule ".vim/pack/submodules/start/mako"]
	path = .vim/pack/submodules/start/mako
	url = https://github.com/vim-scripts/mako.vim.git
[submodule ".vim/pack/submodules/start/mako.vim"]
	path = .vim/pack/submodules/start/mako.vim
	url = https://github.com/vim-scripts/mako.vim.git
[submodule ".vim/pack/submodules/start/dracula"]
	path = .vim/pack/submodules/start/dracula
	url = https://github.com/dracula/vim.git
[submodule ".vim/pack/submodules/start/ale"]
	path = .vim/pack/submodules/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/pack/submodules/start/vim-jinja"]
	path = .vim/pack/submodules/start/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
